.App {
  text-align: center;
  background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7rem;
    justify-items: center;
    font-family: "Montserrat";
    padding: 7rem;
}
